# Python Virtual Environment
# The following files/directories are commonly used for virtual environments
.venv/
venv/
env/

# The specific files Git saw:
Scripts/
etc/
pyvenv.cfg
share/
Lib/

# Jupyter Notebook checkpoints
.ipynb_checkpoints